<main>
  <header>
    <h1>Robin CHEVALIER</h1>
    <h3>Développeur Web</h3>
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="['/experiences']"
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            TECHNOS
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/experiences']"
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EXPERIENCES
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/experiences']"
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            EDUCATION
          </a>
        </li>
        <li>
          <a [routerLink]="['/experiences']" (click)="switchTheme()" class="theme-switch">THEME</a>
        </li>
      </ul>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
