main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  header {
    min-width: 20vw;
    max-width: 20vw;
    height: 95vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    h1, h3 {
      margin: 0;
    }
    h1 {
      width: 100%;
      color: #FFFFFF;
      background-color: var(--app-title-text);
      padding: 20px 10px;
      margin: 0;
      text-align: center;
    }
    h3 {
      padding: 0 5px;
    }
    nav {
      margin-top: 50px;
      menu {
        display: flex;
        flex-direction: column;
        li {
          margin: 20px 0 0 0;
          padding: 0;
          display: flex;
          width: 150px;
          a {
            width: 100%;
            text-decoration: none;
            color: var(--app-title-text);
            padding: 10px 20px;
            text-align: end;
            &.active-link {
              color: #FFFFFF;
              background-color: var(--app-title-text);
            }
          }
          .theme-switch {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  section {
    margin: 0;
    padding-top: 82px;
    min-width: 80vw;
    max-width: 80vw;
    height: 95vh;
    overflow: auto;
  }
  footer {
    min-width: 100vw;
    max-width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    menu {
      min-width: 20vw;
      max-width: 20vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      padding-right: 20px;
      margin: 0;
      border-right: 1px solid black;
    }
  }
}

@media (max-width: 930px) {
  main {
    max-height: 100vh;
    flex-direction: column;
    header {
      min-width: 100vw;
      max-width: 100vw;
      max-height: 24vh;
      align-items: center;
      border-right: none;
      h3 {
        margin-top: 15px;
      }
      nav {
        margin-top: 0;
        width: 100vw;
        menu {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          flex-basis: 33%;
          padding: 0;
          li {
            margin: 0;
            a {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }
    section {
      min-width: 100vw;
      max-width: 100vw;
      max-height: 71vh;
      overflow: auto;
      padding: 0;
    }
    footer {
      min-width: 100vw;
      max-width: 100vw;
      height: 5vh;
      menu {
        min-width: 100vw;
        max-width: 100vw;
        border-right: none;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        margin: 0;
        border-top: 1px solid black;
      }
    }
  }
}

@media (max-width: 300px) {
  main {
    max-height: 100%;
    header {
      max-height: 30vh;
      nav {
        margin-top: 0;
        width: 100vw;
        menu {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
          li {
            margin: 0;
            width: 100%;
            a {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }
    section {
      max-height: 65vh;
    }
    footer {
      height: 5vh;
    }
  }
}

@media (min-width: 278px) and (max-width: 300px) {
  main {
    header {
      max-height: 31vh;
    }
    section {
      max-height: 69vh;
    }
  }
}

@media (max-width: 278px) {
  main {
    header {
      max-height: 34vh;
    }
    section {
      max-height: 66vh;
    }
  }
}
