body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-primary-background);
  font-family: Roboto, Arial, sans-serif;
  color: var(--app-primary-text);
}

@media (max-width: 930px) {
  body {
    height: auto;
  }
}

body[data-theme="light"] {
  --app-primary-background: #F7F7F7;
  --app-primary-text: #000000;
  --app-title-background: rgb(10, 10, 10);
  --app-title-text: #F7F7F7;
}
body[data-theme="dark"] {
  --app-primary-background: rgb(10, 10, 10);
  --app-primary-text: rgb(40, 219, 73);
  --app-title-background: rgb(40, 219, 73);
  --app-title-text: rgb(10, 10, 10);

  text-shadow: #0e2013 0 0 10px, currentColor 0 0 10px;
}
body[data-theme="dark"]::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(hsla(0,6%,7%,0) 50%,rgba(0,0,0,.25) 0),linear-gradient(90deg,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
  background-size: 100% 2px,3px 100%;
}
body[data-theme="dark"]::after {
  background: hsla(0,6%, 7%, .1);
  opacity: 0;
  animation: flicker .15s infinite;
}

* {
  box-sizing: border-box;
}

menu, ul {
  li {
    list-style-type: none;
  }
}
