<article *ngIf="experiences && experiences.jobs">
    <h1>Experiences</h1>
    <ul>
        <li *ngFor="let job of experiences.jobs">
            <details>
                <summary>
                    <h2>{{ job.title }}</h2>
                    <div class="subheader">
                        <h3>{{ job.company }}</h3>
                        <div class="subheader--dates">
                            <span *ngIf="!job.endDate" class="subheader--dates__start_prefix">Depuis </span>
                            <span>{{ job.startDate | date:'MMMM yyyy':'UTC':'fr' }}</span>
                            <span *ngIf="job.endDate" class="subheader--dates__end">{{ job.endDate | date:'MMMM yyyy':'UTC':'fr' }}</span>
                        </div>
                    </div>
                </summary>
                <div [innerHTML]="job.description"></div>
            </details>
        </li>
    </ul>
</article>

<article *ngIf="experiences && experiences.educations">
    <h1>Education</h1>
    <ul>
        <li *ngFor="let education of experiences.educations">
            <details>
                <summary>
                    <h2>{{ education.title }}</h2>
                    <div class="subheader">
                        <h3>{{ education.company }}</h3>
                        <div class="subheader--dates">
                            <span>{{ education.startDate | date:'yyyy':'UTC':'fr' }}</span>
                        </div>
                    </div>
                </summary>
                <p>{{ education.description }}</p>
            </details>
        </li>
    </ul>
</article>

