<article *ngIf="experiences && experiences.jobs">
    <h1>Expériences</h1>
    <ul>
        <li *ngFor="let jobs of experiences.jobs">
            <details open>
                <summary>
                    <header>
                        <h2>{{ jobs.company }}</h2>
                        <h3>{{ jobs.title }}</h3>
                    </header>
                </summary>
                {{ jobs.description }}
            </details>
        </li>
    </ul>
</article>

<article *ngIf="experiences && experiences.educations">
    <h1>Education</h1>
    <ul>
        <li *ngFor="let education of experiences.educations">
            <details open>
                <summary>
                    <header>
                        <h2>{{ education.company }}</h2>
                        <h3>{{ education.title }}</h3>
                    </header>
                </summary>
                {{ education.description }}
            </details>
        </li>
    </ul>
</article>

