article {
  margin-top: 30px;
  padding: 0 50px;
  width: 100%;
  h1 {
    margin: 0;
    border-bottom: 1px solid var(--app-primary-text);
    text-transform: uppercase;
    font-weight: lighter;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 40px 0 0 0;
      details {
        cursor: pointer;
        p {
          text-align: justify;
          text-justify: inter-word;
          font-weight: lighter;
          font-size: 18px;
        }
        summary {
          display: flex;
          flex-direction: column;
          margin: 0 0 15px 0;
          h2, h3 {
            margin: 0;
            padding: 0;
          }
          h3 {
            font-weight: normal;
            font-style: italic;
          }
          .subheader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;
            &--dates {
              display: flex;
              flex-direction: row;
              text-transform: capitalize;
              height: 25px;
              padding: 3px 0;
              &__end::before {
                content: '-';
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

article:nth-child(2) {
  margin-top: 60px;
}

@media (max-width: 930px) {
  article {
    padding: 0 20px;
    ul {
      margin: 0;
    }
  }
}
