h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 50px;
  li {
    details {
      cursor: pointer;
      summary {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 930px) {
  ul {
    margin: 0;
    padding: 0 20px;
  }
}
