.techno-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    li {
      width: 110px;
      height: 110px;
      overflow: hidden;
      img {
        width: 100px;
      }
    }
  }
}
